.leftSideBar {
    background-color: white;
    width: 188px;
    height: 600px;
    
        .list {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin: 15px;
        }
    
        .listItem {
            display: flex;
                align-items: center;
            margin: 10px;
        }
    
        .listText {
            text-decoration: none;
            color: lightgrey;
                margin: 10px;
        }
}