.mainHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 886px;
    width: 1440px;
    height: 63px;
    left: 0px;
    top: -1px;
    background-color: lightseagreen;
}