.button {
    width: 217px;
    height: 36px;
    background: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}